<% field_has_error = form.object.errors.where(field).any? %>

<% input_border_color = field_has_error ? 'border-red-500' : 'border-grey-300' %>
<% input_background_color = field_has_error ? 'bg-red-300' : 'bg-white' %>

<div class="flex flex-col gap-1">
  <%= form.label field, class: "text-sm font-medium text-gray-700" %>
  <%= form.send("#{type}_field", field, class: "border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-teal-500 transition #{input_border_color} #{input_background_color}", **options) %>
  
  <%= render 'components/input_errors', errors: form.object.errors.full_messages_for(field) %>
</div>
