<h1>Reset Your Password</h1>
<p>Someone requested a password reset for your account (<%= @user.email_address %>).</p>
<p>If this was you, click the link below to set a new password. This link will expire in 15 minutes.</p>
<p><%= link_to "Reset Password", @reset_url %></p>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p> 